* { font-family: sans-serif }
html { font-size: 62.5% }

#home {
    user-select: none;
    position: absolute;
    color: #141464;
    font-size: 2rem;
    font-weight: bold;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 2.5%
}

#home:hover {
    font-size: 2.2rem;
    cursor: pointer
}