* {
    font-family: sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
html { font-size: 62.5% }
body{ background-color: #141464 }

#title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#logo { width: 500px }

#games {
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5% 15%
}

.game-container {
    background-color: white;
    border: 3px solid #bfbfbf;
    border-radius: 25px;
    text-align: center;
    margin: 10px;
    width: 300px;
    height: 200px
}

.game {
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    width: 300
}

.game-container:hover img {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.game-img {
    transition: all .5s ease-in-out;
    border-radius: 25px;
    height: 200px
}

.game-name{
    position: absolute;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bolder;
    z-index: 5;
    margin: 10px
}